[2017-02-10 09:02] madfaladam opened #18 "Error when build to android"
hi admin,

i have problem when i want to build to android.

it say "CommandInvokationFailure: Failed to re-package resources."

`CommandInvokationFailure: Failed to re-package resources.
C:\Program Files\Android\Sdk\build-tools\25.0.2\aapt.exe package --auto-add-overlay -v -f -m -J gen -M AndroidManifest.xml -S "res" -I "C:/Program Files/Android/Sdk\platforms\android-24\android.jar" -F bin/resourc

[2017-02-13 14:32] brendan-fahy commented on #18
Hi @madfaladam,

The stacktrace you posted shows that you're using build tools version `25.0.2` but trying to build with android `24`. I would imagine that could cause a problem. Can you try installing android `25` (Nougat/7.1) through the Android SDK Manager, and try building again?

Can you also give us any more detail about the build settings in Unity? Which version of Unity are you using? What

[2017-02-13 15:46] madfaladam commented on #18
hi Brendan,

thanks for your reply, here my screenshoot

[image: Inline images 2]

i have installed all in sdk manager.

this is when i play in unity editor, i show error null ptr.

i use unity 5.4.3f

here when i try to build, it show error package

[image: Inline images 3]

regards

adam

On 13 February 2017 at 21:32, Brendan Fahy <notifications@github.com> wrote:

[2017-02-13 16:00] brendan-fahy commented on #18
Hi Adam,

It looks like those images didn't get uploaded properly. All I can see is the text `[image: Inline images 2]` and `[image: Inline images 3]`. Can you try that again?

When you say "i try to build", are you talking about building your project in Unity, or building the Zendesk Support SDK plugin on the command line?

[2017-02-13 16:13] madfaladam commented on #18
Hi brendan,

owh sorry..

here i attached file.

oh build in project in unity..

i also don't know for build zendesk sdk is correct or not, but here file i
get when i build zendesk sdk with android studio
https://www.dropbox.com/s/5x74b3xw0qzp7p2/zendesk-unity-plugin.rar?dl=0

On 13 February 2017 at 23:01, Brendan Fahy <notifications@github.com> wrote:

[2017-02-14 03:54] madfaladam commented on #18
![image](https://cloud.githubusercontent.com/assets/19622791/22914594/ec8bf5e0-f2a3-11e6-8006-b91b7bad3784.png)
![image 1](https://cloud.githubusercontent.com/assets/19622791/22914595/ec91581e-f2a3-11e6-8895-1201d77d738a.png)

here the image

[2017-02-14 03:57] madfaladam commented on #18
![image](https://cloud.githubusercontent.com/assets/19622791/22914651/46cb67b6-f2a4-11e6-8af5-fa653bf4e05e.png)
![image 1](https://cloud.githubusercontent.com/assets/19622791/22914650/46cb63ce-f2a4-11e6-944a-32303912e5e3.png)

here the image

[2017-02-28 09:17] baz8080 commented on #18
@madfaladam which option did you do here: https://github.com/zendesk/sdk_unity_plugin#basics

Point 4 requires that you make one of the two changes to your manifest. The plugin will not build without that.

[2017-03-01 02:40] madfaladam commented on #18
yes, i use unity 5.4, so i uncomment unity 5.x,

and true in "unityplayer.ForwardNativeEventsToDalvik"

[2017-03-01 15:59] baz8080 commented on #18
@madfaladam thanks for confirming that. Was that the full log output from the compilation session? I can't see the actual error, and I know from experience that the real issue can be quite far down in the logs. I'm not seeing the issue on my side.

[2017-03-03 01:34] jakemuehleFF0000 opened #20 "EntryPointNotFound when Initialization called."
Hi there,

I get an error thrown when trying to run ZendeskSDK.ZDKConfig.Initialize:

EntryPointNotFoundException: _zendeskConfigInitialize
System.Reflection.MonoMethod.Invoke (System.Object obj, BindingFlags invokeAttr, System.Reflection.Binder binder, System.Object[] parameters, System.Globalization.CultureInfo culture) (at /Users/builduser/buildslave/mono/build/mcs/class/corlib/System.Reflectio

[2017-03-07 14:00] brendan-fahy commented on #20
Hi Jake,

Apologies no one has gotten back to you on this before now - the plugin is officially community-supported, but we try to keep an eye on it and help out when we can. Not sure how this one got missed.

Anyway, are you still seeing this problem? If not, do you know what it was that fixed it?
If it's still an issue, can you tell me exactly what steps you performed to get to this point? Did y

[2017-03-08 00:50] jakemuehleFF0000 commented on #20
Hi brendan, thanks for the response!

I had to shelf this issue and move on, so the problem remains where I left it. I followed the documentation as closely as I could, but I had to guess at certain points that I wasn't familiar with. For instance, I've never imported a project into Android Studio, as I've dealt mostly with Unity directly.

**After downloading Android Studio...**
1. Opened android

[2017-03-13 11:51] baz8080 commented on #20
@jakemuehleFF0000 If you decide to pick this up again, you could send us a sample application and we can try to debug things. The error sounds like it is failing to pick up the binaries behind the C# layer.

I've had some issues before when the structure wasn't exactly as we describe in the docs. The output of the build folder should look like this:

![screen shot 2017-03-13 at 11 48 35](https://c

[2017-03-13 11:52] baz8080 commented on #18
@madfaladam I'm going to close this one for now, please feel free to reopen it with more logs if you like.

[2017-03-13 11:52] #18 closed, assigned to nobody

[2017-03-16 23:51] daviddurston opened #21 "SDK Failure to Build or Launch for Android"
Hi,

For the record, I'm on Unity 5.5.0p4, I've rolled back my "Android SDK Tools" to version 24 (not sure about Build-tools).
![](https://puu.sh/uMd6S/cef9f0b984.png)

I successfully build the plugin and get this as the output:
![](https://puu.sh/uMcDl/2f4e243595.png)

This works just fine on iOS. Android, I get either build or initialization errors, depending on how I place the files in the proj

[2017-03-21 17:16] schlan commented on #21
Hi @DavidDurston,
In order to debug this can you send us the non-truncated errors? They can be found here: https://docs.unity3d.com/Manual/LogFiles.html
Or if possible, can you provide a sample application showcasing that error?

[2017-03-21 23:25] daviddurston commented on #21
Hi, thanks for reaching back out to me,

It seemed like the Facebook SDK had many of the same android libraries. I've removed the older versions from the Facebook folder, and now I believe am just having a manifest error. In the code snippets below I've just redacted with "xxx", its not actually that. Here is the Unity build error:

`CommandInvokationFailure: Unable to merge android manifests. See

[2017-03-22 01:37] daviddurston commented on #21
Just to update... I don't know how it didn't go through considering it was a copy/paste... but I realized in more testing that my provider block was missing the `tools:merge="override"` line, which I've now added. I'm getting a slew of other errors now, which I'm working through, and will update again.

[2017-03-22 03:13] daviddurston commented on #21
I believe this SDK is going to be rendered unusable for me solely due to the android archive dependencies. animated-vector-drawable, appcompat, belvedere, and 7 other .aar files are included with this SDK, presumed to be all necessary. Luckily some of those I already have, such as are included with the Facebook SDK. Unfortunately, adding nothing but the design library aar takes the Unity project f

[2017-03-22 15:37] nsomar commented on #21
Hello @DavidDurston,

We spent more time on this issue, we think that we can bring the number of methods down by only adding Zendesk Provider as a dependency, but it would require significant resources invested in it.

We don’t currently have those resources to spare, unfortunately. We can leave it as a ‘help needed’ item in the issue log.
As per the REST API, thats correct, they will be API rate

[2017-03-22 16:23] daviddurston commented on #21
Thanks Omar, I totally understand it would be a decent effort. I'll go the route of just making REST API calls straight through Unity.

Thanks for the responses!

[2017-03-23 14:19] baz8080 commented on #20
@jakemuehleFF0000 I'm going to close this issue. Feel free to reopen it if you're facing the issue still.

[2017-03-23 14:19] #20 closed, assigned to nobody

[2017-03-26 00:15] daviddurston commented on #21
Hi, I have another question about this SDK. In trying to set up a REST API integration in our app, I'm coming across the need for authentication. Support recommended that I'll need to set up a Global OAuth to create a frictionless way for individual users of the app to access Zendesk. I never did that when using this SDK for iOS. How does this SDK authenticate users to pull only their specific tic

[2017-03-28 13:20] divo commented on #21
@DavidDurston The SDK has anonymous users. These are untrusted users that do not require any identifying information to access Zendesk. They are exclusive to the SDK.

Also I think there was some confusion around your earlier question. The API is rate limited but the SDK is not.

[2017-04-01 00:19] daviddurston opened #22 "Grabbing localized articles?"
Hi, another question...

I see there's a .SetUserLocale(string) but I've no idea what to supply it. Thus far I've tried:
- "German" (as pulled from Application.systemLanguage.ToString())
- "GERMAN"
- "Locale.GERMAN"

All to no avail. No documentaion on this, and the comment on SetUserLocale only says to do it before initialization. Any recommendations? I do see the SDK UI itself, like "Help" and "

[2017-04-01 00:23] daviddurston commented on #22
~~Ah, "de" did something. Still not pulling the article that's in German but I think it's trying to. Will update this comment shortly as I make progress.~~

Meh, had device set to German. Apparently all "de" did was give me an error saying "Unable to contact Support."

[2017-04-01 00:45] daviddurston commented on #22
My bad, didnt realize the Category and Section of the article also needed translating to show the articles. Closing this out.

[2017-04-01 00:45] #22 closed, assigned to nobody

[2017-04-09 18:12] daviddurston opened #23 "Help understanding how authentication works in this"
Hi, so in needing a strict REST solution for Android, I've basically created that. However I am struggling to understand proper authentication, and was hoping someone could shed some light on how it's handled here. This is my flow thus far:
- Anonymous user creates a new ticket, and that API call includes an email
- In that call's response, the newly created Zendesk userID is captured
- And Update

[2017-04-13 14:37] DoPinG83 opened #24 "Binary XML file line #17 tag requires viewportWidth > 0"
Hello.
When I integrated sdk_unity_plugin into an empty unity 5.5.1 project and try to run ZendeskSDK.ZDKHelpCenter.ShowHelpCenter() function on the device with Android 4.x OS the application crashes with this stacktrace:

E/Unity   (17864): OnButtonClick
E/Unity   (17864):
E/Unity   (17864): (Filename: ./artifacts/generated/common/runtime/DebugBindings.gen.cpp Line: 51)
E/Unity   (17864):
I/Activ

[2017-04-13 15:57] nsomar commented on #23
Hello @DavidDurston,

Thank you for contacting us and sorry that you are facing this issue.
The problems you posted is how to use the API and not the SDK. In order for this question to be answered correctly, can you please share it with our API community here https://support.zendesk.com/hc/en-us/community/topics/200132076-Zendesk-API

Thanks,
Omar...

[2017-04-13 16:44] daviddurston commented on #23
Actually, while the question was related to the API, it was directly about this SDK, as I asked how this specific SDK uses it to accomplish a certain task. Though I'd still be interested in understanding it, I've come up with a solution that worked for me:

While perhaps not the best method, I'm still authenticating calls using an OAuth token built into the app, but I've restricted it's scope to:

[2017-04-13 16:44] #23 closed, assigned to nobody

[2017-04-14 08:03] baz8080 commented on #24
@DoPinG83 is your minimum API level set to 15 or higher? We don't support API 14, which is one of the Android 4.x levels. If you could create a small sample application then we could have a look at it.

[2017-04-14 08:05] baz8080 commented on #21
I'm going to close this issue for now, thanks for the feedback!

[2017-04-14 08:05] #21 closed, assigned to nobody

[2017-04-14 08:14] DoPinG83 commented on #24
@baz8080 thanks for reply. Yes, I set API 15 as minimum and crash still exists. I sent my test project to your e-mail.

[2017-04-14 10:38] baz8080 commented on #24
@DoPinG83 thanks for the sample project. I think this is because the default build system in unity is still not gradle based, and we're using vectors. For some reason this is not working on API 15 when it is built with something other than gradle. It might be helped if we used `app:srcCompat` in the SDK itself, but I'm not sure if that would work either.

Is using Gradle to build an option for you

[2017-04-14 10:57] DoPinG83 commented on #24
@baz8080 Thanks, Man! Changing Build System to Gradle works (y)

[2017-04-14 12:43] baz8080 commented on #24
Thanks @DoPinG83 I'm adding a known issue here https://github.com/zendesk/sdk_unity_plugin/pull/25

[2017-04-14 14:40] DoPinG83 commented on #24
In fact, I still have problem with zendesk plugin:
Gradle build works fine in empty unity project that I sent to you. But our Big project doesn't build using Grable build system because we have a lot of different plugins and they won't compile under gradle. Do you guys have some other ideas how to fix this issue? We have around 10% of our users using 4.x androids and need to give them normal suppo

[2017-04-14 14:50] baz8080 commented on #24
@DoPinG83 I'll try some more things on my side.

[2017-04-19 08:36] baz8080 commented on #24
@DoPinG83 I have been trying some things, but unfortunately it seems like using a non-gradle build on API 15 has a bug with vector drawables, perhaps specifically when they are in a `layer-list`, as it is in our case. I'll continue to have a look, but I don't have any clear idea of a fix because it appears to come from a problem in the build tools.

[2017-04-19 13:19] baz8080 commented on #24
@DoPinG83 I've finished my investigation into this, and unfortunately I cannot see a way of making it work with API 15.

I removed all vector images from the SDK, but this means that the failure just goes to the next level up, and starts failing on vector drawables in the various android support libraries. This is because our activities extend `AppCompatActivity`.

I also tried setting `vectorDraw

[2017-05-02 10:34] ztranger opened #28 "failed android compile with Windows 10. No bash"
* What went wrong:
Execution failed for task ':android-plugin:stripCssFromAndroidSdk'.

[2017-05-04 12:02] schlan commented on #28
Hi @ztranger, a current limitation is that the plugin can't be built on a Windows machine. For doing that you need either a computer/VM running Linux or OS-X.
Pull requests are welcome!

[2017-05-04 12:16] #28 closed, assigned to nobody

[2017-05-29 15:16] DoPinG83 opened #29 "Attaching Zip-archive to Request"
Hi, guys. Is there any way to attach a zip-archive with application logs to user Request? As I see in ZDKCreateRequest-class there only strings can be attathed.

[2017-06-06 20:47] jakemuehleFF0000 commented on #20
Hi @baz8080,

I recently got time to dive into this again, but I'm finding the same error, even on a new project.

I found that the error I described in the first post only happens when trying to run the game from Unity editor on IOS. I get a JNI: Init'd error when running on Android in editor, and no errors when running this on PC/Linux standalone in editor.

I've attached a link of the the (new)

[2017-06-09 17:58] jakemuehleFF0000 commented on #20
@baz8080, @brendan-fahy: per GitHub's restrictions on re-opening issues, I can't reopen this if a collaborator has closed it.

[2017-06-15 12:40] brendan-fahy commented on #29
Hey @DoPinG83,
Adding attachments to requests in Zendesk is done in a kind of two-step process. You don't add the attachment directly to the request. You upload the attachment and get an ID, and then you add that ID to the request object.

See [ZDKUploadProvider.UploadAttachment], which should be used for uploading attachment files. If attaching text, the String `attachment` parameter can simply b

[2017-06-19 10:17] DoPinG83 commented on #29
Hi, @brendan-fahy. Thanks for answer. However, what I really want is to automatically attach a file to the request formed from ZDKHelpCenter. I see only ContactConfiguration-class there with AdditionalInfo-parameter. Can I use it as an attachment or it there any way to pass the attachment that I got from ZDKUploadProvider.UploadAttachment() to ZDKHelpCenter? In other words, can I get access to ZDK

[2017-06-19 12:23] brendan-fahy commented on #29
Hey @DoPinG83, unfortunately not. When using our UI, there is no way to automatically attach a file to a request. A user would have to attach the file themselves, or you would have to build your own UI which uses our providers, and build in the automatic uploading yourself.

[2017-07-06 14:35] Maksimdz opened #31 "ZendeskSDK.ZDKRequestProvider.GetComments return nill in native code"
0   CoreFoundation                      0x0000000191a9eff8 <redacted> + 148
	1   libobjc.A.dylib                     0x0000000190500538 objc_exception_throw + 56
	2   CoreFoundation                      0x0000000191aa5ef4 <redacted> + 0
	3   CoreFoundation                      0x0000000191aa2f54 <redacted> + 916
	4   CoreFoundation                      0x000000019199ed4c _CF_forwarding_prep_0 + 92

[2017-07-06 16:12] vladkolotvin commented on #31
+1

[2017-07-06 16:34] RonanMcH commented on #31
Hey guys,
thanks for reporting this. We will look into it and get back to you guys. We just released 1.10 version of the unity plugin so maybe try upgrading.
Thanks,
Ronan.

[2017-07-07 11:02] DoPinG83 commented on #29
Hi again, guys. I'm attaching my test zip-archive like it's shown in your example.

byte[] attachment = File.ReadAllBytes(filePath);
string encoded = Convert.ToBase64String(attachment);
ZendeskSDK.ZDKUploadProvider.UploadAttachment(encoded, "logs.zip", "application/zip", (result, error) => {...});

After that I try to download and unzip an attachment sent from iOS and Android.
With Android-archive

[2017-07-07 13:14] brendan-fahy commented on #29
Hey @DoPinG83,

Thanks for reporting this. I had a look at our code and noticed an inconsistency between Android and iOS. Have a look at the if-statement in [Android](https://github.com/zendesk/sdk_unity_plugin/blob/master/android-plugin/src/main/java/com/zendesk/unity/providers/UploadProvider.java#L43-L47) compared to [iOS](https://github.com/zendesk/sdk_unity_plugin/blob/master/ios-plugin/src/Ze

[2017-07-07 13:30] DoPinG83 commented on #29
Thanks @brendan-fahy Your suggestion works fine.

[2017-07-07 14:27] brendan-fahy commented on #29
That's great to hear! I've created https://github.com/zendesk/sdk_unity_plugin/pull/32 with the fix, but we'll want to do some more thorough testing before merging it.

[2017-07-08 10:54] Maksimdz commented on #31
It still doesn't work.
By the way
ZendeskSDK.ZDKConfig._zendeskConfigSetArticlevotingEnabled
ZendeskSDK.ZDKConfig._zendeskConfigSetArticleVotingEnabled
!!!VotingEnabled!!!    Big 'V'
it doesn't compile !!!   )))

+(NSString *)NSArrayOfZDKCommentsToJSON:(NSArray *)items {
      NSMutableArray *results = [[NSMutableArray alloc] init];
      for (**ZDKComment** *comment in items) {
          [results

[2017-07-12 14:25] DoPinG83 opened #34 "In request form Next button doesn't work on android"
Hi, guys.
Using your API I go to the helpCenter on Аndroid device and try to send a request. After entering my e-mail I try to go to description region by pressing "Next" button. But there is no effect. I have to close the keyboard manually to tap on description region =(

[2017-07-13 13:42] baz8080 commented on #34
@DoPinG83 Can you give us the Android version, and which keyboard that you are using please?

[2017-07-13 14:29] DoPinG83 commented on #34
@baz8080 Android version doesn't matter. For example 5.0. I didn't understand the question about keyboard. Here is the screenshot: https://prnt.sc/fv8na7 This button doesn't work.

[2017-07-13 15:22] baz8080 commented on #34
@DoPinG83 The keyboard question was about whether you were seeing this on Gboard, the Samsung keyboard, Swiftkey etc. The screenshot suggests that the issue is present in landscape, so we can have a look at that.

[2017-07-17 15:30] e2po commented on #34
Hi @DoPinG83,
This is a known issue and we already fixed it in v1.8.0.1. Can you please upgrade to the latest version (v1.10.0.1) and let us know if that solved the issue for you.

Thanks,
Elvis

[2017-07-18 10:26] DoPinG83 commented on #34
Hi @eepDev,
We can't upgrade to your latest version, because after doing it the number of dependences in our project becoming 87211 when maximum is 65536. And that's Real problem of your plugin. With our current version of zendesk after building it I got this number of files: https://prnt.sc/fx3ydb
And after building new version I got this: https://prnt.sc/fx3yv6
Does your plugin Really need all t

[2017-07-18 13:18] undersun81 opened #35 "Fail to link because of typo in ZDKConfig.cs"
Typo in this line:
private static extern void _zendeskConfigSetArticle**v**otingEnabled(bool enabled);
must be
private static extern void _zendeskConfigSetArticle**V**otingEnabled(bool enabled);

[2017-07-18 13:28] baz8080 commented on #34
@DoPinG83 Those dependencies are required because our UI layer brings them in. You could:

* If using gradle, export the project to Android Studio and try to enable multi-dex and / or proguard.
* Consider building your own UI layer, although we have not considered this use-case in the unity plugin

We won't be back-porting the fix for the next button.

[2017-07-18 13:28] #24 closed, assigned to nobody

[2017-07-18 13:35] undersun81 opened #37 "Enum values in ContactUsButtonVisibility doesn't match between Unity and Native iOS side"
ZDKHelpCenter.cs
[code]
So Off=0, ArticleListOnly = 1, ArticleListAndArticle = 2

Doesn't fully match to

[code]

Which is ZDKContactUsVisibilityArticleListAndArticle = 0,   ZDKContactUsVisibilityArticleListOnly = 1, ZDKContactUsVisibilityOff = 2

[2017-07-18 13:42] baz8080 commented on #35
Fixed in https://github.com/zendesk/sdk_unity_plugin/pull/36

Thanks! Also, please feel free to submit a PR.

[2017-07-18 13:42] #35 closed, assigned to nobody

[2017-07-19 12:31] #34 closed, assigned to nobody

[2017-07-19 14:52] baz8080 commented on #37
Hi @undersun81

Thanks for reporting the bug. We'll be fixing it in the native code and would expect to have a release within two weeks. In the meantime you could remap them in the cs code if you have an urgent need

Thanks!

[2017-07-19 14:58] baz8080 commented on #31
@Maksimdz sorry for the delay. The native code is indeed returning `ZDKCommentWithUser`, so the bridge code is out of synch with that.

[2017-07-20 14:34] baz8080 commented on #31
Fixed in https://github.com/zendesk/sdk_unity_plugin/pull/38

[2017-07-20 14:34] #31 closed, assigned to nobody

[2017-07-21 08:53] baz8080 commented on #29
Verified fix in
https://github.com/zendesk/sdk_unity_plugin/pull/32

[2017-07-21 08:53] #29 closed, assigned to nobody

[2017-07-27 01:46] blazezh opened #39 "Is there a way to skip help center to open ticket list?"
We don't want to show help center to player but the ticket list is necessary.

We close the help center in backend of Zendesk, Android works good, but on iOS it will show a blank help center page with a button to go ticket list page.

The ShowRequestCreation method only opens a ticket sending page, so not working for us.

Thank you and please give any idea about it.

[2017-07-31 15:01] brendan-fahy commented on #39
Hi @blazezh, our iOS and Android SDKs provide a way to open ticket list directly. For some reason it looks like this functionality wasn't ported through the Unity plugin. It's a relatively simple task to add this, so I've submitted [a pull request](https://github.com/zendesk/sdk_unity_plugin/pull/40) that exposes a new method through the plugin. I've added a button to the `ZendeskTester` sample cl

[2017-08-01 01:29] blazezh commented on #39
Thank you @brendan-fahy , this is enough for me.

[2017-08-03 02:31] blazezh opened #41 "Display bug on app ticket comment (Android)"
Dear Unity-plugin team,

We meet a display problem on some Unity-Android device.

I posted a ticket successfully, when I tried to post a comment on it,. The virtual keyboard appeared and I typed the comment then click enter.
![1](https://user-images.githubusercontent.com/1051922/28903293-b3f8f8cc-7836-11e7-8a0e-f85c90385d7d.png)
![2](https://user-images.githubusercontent.com/1051922/28903295-b79c0

[2017-08-03 05:20] blazezh commented on #41
One more thing, when typing comment, the comment bar is hidden by the virtual key board, it makes the player hard to read what he types, is this related or is there any way to fix this?

[2017-08-09 09:34] divo commented on #41
@blazezh What version of the plugin are you using?
Also, is your last comment describing the behavior in portrait mode?

[2017-08-10 14:15] blazezh commented on #41
Hi divo,
We are using the latest version. And the last comment is describing in landscape mode.

[2017-08-16 10:06] vladkolotvin commented on #37
Any news? Main function of this plugin doesn't work for a month...
Is it really hard to fix enum order?

[2017-08-18 10:32] baz8080 commented on #37
Hi @cruelbob
We wanted to make the fix in the native side. PRs are welcome, so you could have changed it in the bridge code if you liked. Fixed in https://github.com/zendesk/sdk_unity_plugin/pull/44

[2017-08-18 10:32] #37 closed, assigned to nobody

[2017-08-21 15:14] #39 closed, assigned to nobody

[2017-08-22 10:35] brendan-fahy commented on #41
Hi @blazezh, I can't reproduce this behaviour on phone or tablet. The comment view doesn't disappear at all. Yesterday we released version 1.10.1.1 of the Unity plugin, you could try upgrading to the newer version and see if the issue is still present.

What devices have you observed this issue on? What version of Android were they running?

[2017-08-24 08:47] blazezh commented on #41
Hi,
We solved this, this is bug about AndroidBug5497Workaround.
 https://github.com/madebycm/AndroidBug5497Workaround
After we used this, the plug-in works well.

[2017-08-24 08:55] blazezh opened #46 "How to set the Help center activity landscape?"
Hi,

We are using the Unity plugin for Zendesk on both iOS and Android, and we are finding a way to fix the Zendesk Help Center to landscape mode.

Our game is fixed to landscape already, but when we open Zendesk Help Center, the orientation becomes changeable, when it changes to portrait and back to the game, the game would appear odd.

https://help.zendesk.com/hc/en-us/articles/115004172167-Quic

[2017-08-28 13:13] baz8080 commented on #41
Thanks for letting us know @blazezh I'll mark this one as closed.

[2017-08-28 13:13] #41 closed, assigned to nobody

[2017-08-28 13:24] baz8080 commented on #46
Hi @blazezh

Can you share more details please and the code that you are launching Help Center with? When I launch our sample application on iOS and Android, I can get landscape Help Center on both phones and tablets.

[2017-08-29 02:18] blazezh commented on #46
Hi @baz8080
We are looking forward to make the help center ONLY in landscape mode, we are finding a way to do that because our game only supports landscape, now the situation is the help center can display in landscape, but will turn to portrait if we rotate the device, which we don't want it...

So it's working fine in landscape, but we are finding a way to fix it.

[2017-08-31 15:29] divo commented on #46
@blazezh You can restrict help center to landscape only by adding
[code]
to your AndroidManifest file

For iOS you can set the supported device orientations in the `General` section of the app build target in Xcode.

The iOS SDK should respect these settings.

How are you currently restricting the orientation?

[2017-09-01 09:42] blazezh commented on #46
Hi @divo
I've tried to add the activity to AndroidManifest file, but that's not working...

As for iOS, we are  setting it to landscape, but it will still rotate.

![qq](https://user-images.githubusercontent.com/1051922/29964421-932afe20-8f3c-11e7-8464-9842241836e7.png)

Actually on iOS, the help center page(not full screen) will not rotate, but when I click the "new" button and jump to "Contact u

[2017-09-13 12:02] KaliaAristidou opened #47 "Zendesk unity 3d SDK. Errors when building in xCode.."
Hi! I am trying to use Zendesk sdk in unity 3d.  The project is really simple. Is just a scene with 2 buttons where if you press them, it calls:
ZendeskSDK.ZDKHelpCenter.ShowHelpCenter ();
ZendeskSDK.ZDKRequests.ShowRequestCreation ();
It builds normally for android and iOS inside unity. Tested on android device and it works perfect, but for the iOS version when i import it on xCode it throws a bu

[2017-09-14 13:27] outplaysk opened #48 "Maximum number of symbols allowed in a dex file has been surpassed"
We are currently implementing the Zendesk SDK into one of your games using the Unity Plugin.

Unfortunately, adding the Zendesk SDK into the Android project has caused us to run over the maximum number of symbols allowed in a dex file (64K) so we are not currently able to integrate the SDK for Android.

We are trying to avoid using multi dex and have already used proguard. Are there any other sugg

[2017-09-14 13:41] mathewcropper commented on #48
Hey @outplaysk. Leave this with me and I'll see what we can come up with.

[2017-09-15 12:08] mathewcropper commented on #48
Hey @outplaysk. The lovely @brendan-fahy took a look at this for us, and I'm sorry to say the news isn't what you're hoping for. The only options we see are:

1. Have less code/fewer libraries in your app
2. Use Proguard to minimise stuff
3. Use multidex

Depending on how far over you are, you could look at removing our UI components and building with your own instead. Whether that would get you u

[2017-09-15 12:30] outplaysk commented on #48
Hi, @mathewcropper! Thanks for pushing to get this looked at, and thank you to @brendan-fahy for taking the time to do that!

I'm not entirely sure how far over we are if I'm honest. Is there an exact number on what we would save by removing the Zendesk UI?

I was also curious to know if there was any ability to minify the Zendesk SDK, or if that is something anyone has experience of.

Thank you f

[2017-09-20 10:40] divo commented on #47
@KaliaAristidou We just released a new version of the Unity SDK plugin that should solve this issue. Can you try it?

[2017-09-20 16:06] divo commented on #46
@blazezh Do you allow orientation changes inside your Unity project? Player settings -> Settings for iOS -> Default orientation.

I can't find a way to prevent the SDK from rotating (which is a problem) but by disabling Auto Rotation in the above setting it would no longer rotate the containing app.

[2017-09-21 15:14] baz8080 commented on #48
Hi @outplaysk

The vast majority of the method counts are in our UI, and unfortunately it's not all that simple to exclude it easily in Unity. Have you seen [this article](http://blog.kongregate.com/dealing-with-the-64k-method-limit-in-your-unity3d-game/)? We have [some method counts here also](https://developer.zendesk.com/embeddables/docs/android/about#method-count)

[2017-09-22 09:27] outplaysk commented on #48
Hi @baz8080 - thanks for this! I'll take a look at the info and see where we get :D

[2017-10-03 14:33] baz8080 commented on #47
Going to close this for now because the new version fixes things.

[2017-10-03 14:33] #47 closed, assigned to nobody

[2017-10-03 14:34] baz8080 commented on #46
@blazezh I'm going to close this as we haven't heard back from you in a while. If you'd like more help, then please reopen it.

[2017-10-03 14:34] #46 closed, assigned to nobody

[2017-10-03 17:57] ehudros opened #56 "No prebuilt plugin available?"
Hey,
We'd love to give the SDK a try but don't really want to mess with building the binary ourselves. Is there a prebuilt version available somewhere that I've missed?

Thanks :)

[2017-10-04 09:22] RonanMcH commented on #56
Hi @ehudros ,
I am sorry to report, there is no where to get a prebuilt version of the plugin.
Ronan.

[2017-10-04 09:22] #56 closed, assigned to nobody

[2017-10-09 16:17] tecknut commented on #48
Hey @outplaysk,

Just checking in on this. Have you made any progress?

Thanks,
Alan

[2017-10-24 12:07] PNordlund71 commented on #48
We solved this issue by using the gradle build system instead of the Unity internal one.

[2017-10-24 12:10] outplaysk commented on #48
@tecknut sorry for the delay in responding. We haven't made any progress on this to be honest. We haven't been able to dedicate many resources so we have switched to a webform display until we can find any better solutions.

@PNordlund71 thanks for pitching in, unfortunately this wasn't enough for us :(

[2017-10-24 12:35] PNordlund71 opened #57 "GetUpdatesForDevices returns 0"
I'm calling ZendeskSDK.ZDKRequestProvider.GetUpdatesForDevice() to get update count to show a notification in the UI. However, when I create an issue and reply to it from the Zendesk console, this method always returns this:

{requestsWithUpdates: {}, hasUpdates: False, updateCount: 0, }

[2017-10-25 10:24] baz8080 commented on #48
Hi @outplaysk thanks for letting us know. I think there's no solution at this moment except for using the gradle build system.

[2017-10-25 10:29] baz8080 commented on #57
@PNordlund71 The results from that call are cached for one hour, perhaps that was the issue you were facing. Can you try it again please?

We also had an issue with anonymous identities yesterday that contained unverified email addresses, so please try an identity without an email address also.

[2017-11-16 16:01] baz8080 commented on #57
@PNordlund71 I'm going to close this issue as we haven't heard back from you. Feel free to reopen it if you still need help with this.

[2017-11-16 16:01] #57 closed, assigned to nobody

[2017-12-07 16:27] mdienersberger opened #60 "Android Missing auto sort feature in "My tickets" section"
![android-ticketsorting](https://user-images.githubusercontent.com/34347445/33725884-ce31adba-db73-11e7-9296-436fe0ad6db5.jpg)
![ios-ticketsorting](https://user-images.githubusercontent.com/34347445/33725894-d400ca8c-db73-11e7-8b57-54e9dfa39a7a.jpg)

[2017-12-07 16:29] mdienersberger opened #61 "iOS - Translucent overlay of window size appears when submitting a ticket with a long description"
Steps to reproduce:
1. Installs and runs build iOS
2. Taps Profile > Help and Support > Contact us
3. Creates new ticket by tapping New icon top right of the screen
4. Adds a very long text in the Description section and taps Send

While the message is loading/is being sent, a translucent overlay is present over the text (having the size of the original window and not covering the entire text)
![t

[2017-12-07 16:31] mdienersberger opened #62 "Android Missing attachment icon for tickets containing uploaded attachment"
Users will notice that, upon creating a ticket and adding a screenshot/picture to it, returning to My tickets, the preview will only display a part of the text from the ticket's description and no icon of an attachment present within the ticket.
Note: Please note that the issue has been reported as Android only due to the fact that we do not own iPhone X for the time being, therefore we cannot che

[2017-12-12 18:28] baz8080 commented on #60
@mdienersberger the issue here lies in the native part of the plugin. We're currently working on a 2.0 release so it's unlikely that we'll patch the 1.x branch with a fix for this. iOS and Android actually do request the same sort order from the server, but some things on the backend can cause the inconsistence that you are seeing.

[2017-12-12 18:29] baz8080 commented on #61
@mdienersberger thanks for the report. It's going to be the same answer as the other issue. This is unlikely to get patched in the 1.x line because we're actively working on a 2.0 release.

[2017-12-12 18:30] baz8080 commented on #62
@mdienersberger We only show text in the my tickets screen. Have you implemented a custom UI?

[2017-12-13 12:18] fvangent opened #64 "IOS compatibility documentation mismatch"
We tried to get the Unity SDK to work on IOS 8, because the readme says it's supporting IOS 8 to 10. However our game crashes when
`ZDKConfig.Initialize (gameObject, zenDeskUrl, appId, clientId); `
is called. See screenshot for details.

However https://developer.zendesk.com/embeddables/docs/ios/about#compatibility is saying it supports IOS 9, 10 and 11. I guess this is the reason it's not working

[2017-12-19 10:22] divo commented on #64
@fvangent Thank you for pointing this out. I have updated the readme.

[2017-12-19 10:22] #64 closed, assigned to nobody

[2018-01-04 19:30] ClassyBrandon opened #66 "18 Compile errors in Xcode"
**Environment**:
Xcode 9.2
Unity 2017.1.0f3
Empty project containing only v1.11.2.1 of the unity plugin SDK _and nothing else_

**Description**
After making an iOS build from Unity the Xcode project is opened. When trying to compile Xcode will fail with 18 errors in ZendeskCore.m with various "Redefinion of X" errors. This is done with an empty project and the newest version of Xcode. If a step wa

[2018-01-10 14:35] brendan-fahy commented on #66
Hi @ClassyBrandon,
Just to be sure, can you list out the steps you used to build and integrate the plugin in the Unity project?

[2018-01-10 19:04] ClassyBrandon commented on #66
1. Download release[ 1.11.2.1 zip](https://github.com/zendesk/sdk_unity_plugin/archive/1.11.2.1.zip) from GitHub
2. Extract the contents of the zip
3. Open Android Studio (version 2.2.3 for macOS)
4. Open the project from the extracted zip. "sdk_unity_plugin-1.11.2.1" in my case
5. Open the terminal by clicking "Terminal" on the bottom left of Android Studio
6. Execute "./gradlew build" and wait f

[2018-01-16 10:31] divo commented on #66
@ClassyBrandon these are linker errors. Please see https://developer.zendesk.com/embeddables/docs/ios/integrate_sdk
You need to add MobileCoreServices.framework and Security.framework to your iOS project

[2018-02-01 13:59] rsiddub opened #67 "Zendesk should not forces users to use a particular theme"
There seems to be an issue with the zendesk unity plugin where it forces the Application  theme to be ThemeUnity.Although it is mentioned in the Readme guide, we have our own theme and do not want to use the theme required by Zendesk. When we do so, the Zendesk crashes with the error message as below

E/AndroidRuntime(15307): Caused by: java.lang.RuntimeException: Unable to start activity Componen

[2018-02-08 11:15] baz8080 commented on #67
@rsiddub sorry for the delay in getting back to you. Your message seems to have been truncated.

Our UI requires a theme that inherits from `Theme.AppCompat`.  This is because we use a few components like `Toolbar` and want them to be supported on older API levels.

You don't have to use our theme if your theme inherits from that one, and [you specify a few attributes](https://developer.zendesk.co

[2018-02-08 11:20] baz8080 commented on #66
I'm going to close this one because it is covered in https://github.com/zendesk/sdk_unity_plugin/blob/master/README.md#basics

[2018-02-08 11:20] #66 closed, assigned to nobody

[2018-02-08 11:21] baz8080 commented on #62
I'm going to close this as there hasn't been any update. Feel free to get in touch again.

[2018-02-08 11:21] #62 closed, assigned to nobody

[2018-02-20 10:45] sg-hochul opened #68 "iOS does not work properly with showing Help Center and others"
I've followed all steps from read.me, Android works fine. And then I build iOS also added additional libs to xCode. I was able to install the test app on my iPhone device but whenever I try to open the help center(I am using example code), it crashes.

![img_7413](https://user-images.githubusercontent.com/30353182/36419859-71572200-1633-11e8-9c85-42fdf55c5ef9.png)
After press helpcenter

![img_741

[2018-02-21 10:12] sg-hochul commented on #68
I did not import project to Android studio but just opened and that was the problem. Now it works :)

[2018-02-21 10:12] #68 closed, assigned to nobody

[2018-02-21 14:32] baz8080 commented on #67
I'm going to close this as we do require Theme.Appcompat. Feel free to reopen it if you need to.

[2018-02-21 14:32] #67 closed, assigned to nobody

[2018-02-23 06:26] ludicsam opened #69 "iOS: Infinite Loop when calling ZendeskSDK.ZDKHelpCenter.ShowHelpCenter ();"
Hi,

We implemented the ZendeskSDK (v1.9.2.1) on our Unity Project, but when we call the ZendeskSDK.ZDKHelpCenter.ShowHelpCenter (); method, we get an infinite loop shown in the screenshot attached.

Could you assist?

Thank you!

![zendesk-infinite-loop](https://user-images.githubusercontent.com/36755811/36580956-7f2fa888-18a5-11e8-91fe-4d610b914518.png)

[2018-02-23 11:45] brendan-fahy commented on #69
Hey @ludicsam, can you check that the bundles are included in the .app file and if you're using the preview build system? We've seen infinite loops happen with the iOS SDK before when using the preview build system.
As a side note, the latest version of the Support SDK is at 1.11, and we have updated the Unity plugin to use that. I'd highly recommend updating to a more recent version.

[2018-03-15 08:13] VTeselkin opened #70 "Badges"
How to show badges, when we receive new answer? For Android and IOS?

[2018-03-15 11:31] PM-BA opened #71 "Workaround for iOS 8"
Is there any workarounds for supporting iOS 8 with the new version of the SDK? Need to use the new version for iPhone X issues but also need to support iOS 8.

[2018-03-16 14:30] #70 closed, assigned to nobody

[2018-03-23 10:40] divo commented on #71
@PM-BA In order to support the iPhone X we had to use iOS 9 APIs. Sorry, but there is nothing we can do about this.

[2018-03-23 10:40] #71 closed, assigned to nobody

[2018-04-02 17:17] FodderMK opened #72 "Titlebar disappears during navigation"
I am attempting to get v1.11.2.1 of the plugin working with our game and came across a strange issue.  Everything works fine when I bring up the Help Center, but when I navigate to anything and then go back to the main menu the top navigation is gone.  For the screenshots attached, the first is when Help Center is opened, the second is when I look at my tickets, and the third is after hitting the

[2018-04-02 20:30] FodderMK commented on #72
I neglected to mention that I'm building on Unity 2017.3.1.  I just noticed that the README only makes mention of Unity 5.x, does this mean 2017 is not supported?

[2018-04-10 12:11] brendan-fahy commented on #72
Hey @FodderMK, Unity 5.x was the latest major release the last time any significant work was done on this repo, which is why the README only mentions Unity 5.x.

I just tested on Unity 2017.4.0f1, on a Nexus 5.x (Android 8.1) and a OnePlus One (Android 6.0), and I can't reproduce this issue. Can you give us any more detail that could help us to reproduce this? What devices/OS did you see this on?

[2018-04-18 02:48] juank-pa opened #73 "Theme is not applied to all Zendesk activities"
I modified the styles.xml to make it inherit from the Dark theme and also modified the colors to match my company colors. But no matter how I changes things whenever I open the Help Center with the `ZDKHelpCenter.ShowHelpCenter()` method, all screens (Help Center home, ticket list, new ticket, etc) are shown with a white background including the ActionBar, except when I navigate to a specific arti

[2018-04-18 15:22] RonanMcH commented on #69
Hi @ludicsam ,
Is this still an outstanding issue for you?
Thanks,
Ronan.

[2018-04-18 15:50] ludicsam commented on #69
Hi Ronan

We managed to fix it with your help, thanks!

[2018-04-20 09:44] #69 closed, assigned to nobody

[2018-04-20 12:13] brendan-fahy commented on #73
Hi @juank-pa, a couple of us have tried to reproduce this here and haven't been able to. We're seeing the theme applied to all Activities. Can you share a couple of relevant portions of the android-plugin `build.gradle` with us so we can see exactly what we're working with?
Specifically, if you've changed compile/target SDK versions, show us what you have instead of:
[code]

Can you also share you

[2018-04-20 12:21] juank-pa commented on #73
Yes I also customized the CSS. I forgot to mention that things fixed up a little when removing comments from
[code]

[2018-04-20 12:27] juank-pa commented on #73
After that screens started to theme correctly but then I started having other styling issues, because some zendesk sdk elements  and screens were not using the colors coming from the theme but specific burned out colors. For instance the request and comments screens even when having the navbar correctly themed the list was itself gray and list items were black with white text. I tried to replace t

[2018-04-20 12:35] brendan-fahy commented on #73
Hey @juank-pa, glad to hear you got it sorted. That's very interesting feedback, the lengths you had to go to, to get this sorted. It's not something we've had reported to us before. I had a look at your fork but didn't see any new commits there, will you be adding them soon? It would be great to see the changes 👍

[2018-04-20 12:41] juank-pa commented on #73
Sorry, it was still in a branch
https://github.com/juank-pa/zen_desk_unity_plugin/tree/customized_zendesk

[2018-04-20 14:29] brendan-fahy commented on #73
Thanks!

[2018-04-20 14:29] #73 closed, assigned to nobody

[2018-04-27 14:48] baz8080 commented on #72
Going to close this issue because it's been a while, and we cannot reproduce it. If you need more help please get back in touch.

[2018-04-27 14:48] #72 closed, assigned to nobody

[2018-04-28 05:35] PNordlund71 opened #74 "How to build for specific iOS version?"
We are building our Unity game project to iOS version 8.0, but when linking with the Zendesk plugin I get a warning:

ld: object file /Plugins/iOS/ZendeskProviderSDK.framework/ZendeskProviderSDK(*.o) was built for newer version (9.0) than being linked (8.0)

I didn't see any apparent way to specify the iOS version?

[2018-04-30 08:20] PNordlund71 commented on #74
Ok looks like iOS 8 support has been removed. Bummer.

[2018-04-30 08:20] #74 closed, assigned to nobody

[2018-05-08 08:32] fvangent opened #75 ""see all X articles" barely or no visible on Helpcenter"
In the helpcenter if you have more then 5 articles it will show a "see all X articles" text and if you press it, it shows all articles. This works fine on IOS, but on android you almost can't see the the text. Even the screenshot that I made the text is compressed away. I also tried changing the colors in the "help_center_articles_style.css" but this had no effect at all.

Repro steps:
1) add a ca

[2018-05-09 08:42] baz8080 commented on #75
Hi @fvangent

This is likely because the colours in your theme are not suitable for a light theme. Here's an [example of what to set](https://github.com/zendesk/sdk_demo_app_android/blob/master/app/src/main/res/values/styles.xml#L5-L7). We try to take the colours from the host app where possible.

Thanks!

[2018-05-09 08:42] #75 closed, assigned to nobody

[2018-05-17 12:55] baz8080 commented on #60
@mdienersberger sorry for the lack of an update until now. The native part of the work for this has been done and released on both platforms. We will be doing some exploratory work in the near term about how to bring the unity plugin up to using the native 2.x SDKs.

[2018-05-17 12:57] baz8080 commented on #61
@mdienersberger similar to your other issue, we have updated both native SDKs to 2.0, and we will be looking at getting the Unity plugin to use them, but they're not there now.

[2018-06-15 11:05] rickpt opened #79 "Android manifest Issues"
Hi

I've been integrating the sdk_unity_plugin from your github and on iOS every works great, but on Android I can't have our other android plugins and ZenDesk together within the same manifest without it crashing the app when we try to call ZendeskSDK.ZDKRequests.ShowRequestCreation.

The only difference between these two builds is the AndroidManifest.xml and one works and one doesn't.

I've adde

[2018-06-19 20:45] truenoldor commented on #46
for iphoneX this bug is repeated .. in xcode a landscape is set, but contact US changes the position arbitrarily. on the lower iPhones is not repeated. but i work without unity.

[2018-06-19 22:48] simontgs opened #80 "2018.1 + sdk 2.0.0"
Any plans on updating to sdk 2.0.0 and Unity 2018.1

The current gradle/maven support for android sdk does not work with 2018.1 - i can build ok with a few tweaks on 2018.2 ( it uses Gradle 4.1 ), 2018.1 uses Gradle 4.0.1 and the android plugin 2.3.0

[2018-06-20 15:54] baz8080 commented on #80
@simontgs do you also have a ticket open with us? I know it's not ideal, but you can export the project and update the plugin version to 3.0.0. Updating the plugin is on our roadmap, but we don't have any dates for it yet.

[2018-06-20 16:00] baz8080 commented on #79
Hi Rick,

I need to double-check that you've seen this in the README.

[code]

It would also be useful to get the logs from the device at this time. You can use [ZDKLogger](https://github.com/zendesk/sdk_unity_plugin/blob/master/unity-src/scripts/ZDKLogger.cs) to enable logging.

Thanks!

[2018-06-26 17:25] rickpt commented on #79
Hi Barry,

Sorry for the slow response we found a workaround and carried on with our
release...

However we are not happy that it will hold once we start integrating with
social plugins and the like.

Here is a explanation from the engineer that has been working on this
explaining what's been going on

We were unable to get Zendesk to work with latest version of
UTNotifications running in our proj

[2018-06-27 11:07] FixitFrank opened #81 "SSL handshake aborted errors are encountered when getting new message count using ZDKRequestProvider.GetUpdatesForDevice sometimes"
Lately we get a lot of errors from clients when retrieving the message count. It increased by a lot. The errors says the following:

`Error: -1 - SSL handshake aborted: ssl=0x95d593d0: I/O error during  system call, Connection reset by peer`

and

'(ErrorCode -1) { stack: '', tpError: 0 }'

We are not sure what is triggering this. We use the following code to get the message count:

`ZDKRequestPro

[2018-06-27 16:19] brendan-fahy commented on #81
Hey @FixitFrank, do you have any info on the Android versions of these clients? It could well be related to the TLS change, especially if they're all exclusively below a particular version of Android. iOS should be unaffected, as far as I know.

[2018-06-27 16:50] FixitFrank commented on #81
I took a look at some random logs that are throwing the errors (we have more then 20k of these). It seems the are all using android 4.4.4 or below.

`"os":"Android OS 4.4.2 / API-19 (KOT49H/A7600F_A442_000_029_150401_ROW)","platform":"Android","lang":"Hebrew","devmodel":"Lenovo Lenovo A7600-F","devname":"LenovoLenovoA7600F"
"os":"Android OS 4.4.2 / API-19 (KOT49H/P5210XXUBOB1)","platform":"Android

[2018-06-28 13:15] FixitFrank commented on #81
We currently are disabling zendesk for these clients and let's see how that goes

[2018-06-28 13:24] brendan-fahy commented on #81
Hey @FixitFrank, this looks like TLS 1.0/1.1 deprecation to me, especially if it's those versions of Android.

v2.0.0 of the Android Support SDK forces TLS 1.2 back to Android 4.1 (API level 16), and we've dropped support for versions below 16. Upgrading the Unity wrapper to use 2.0.0 has been on our radar since we released it, but it's not something we've gotten to yet. At the moment I'm trying t

[2018-07-04 10:51] brendan-fahy commented on #79
Hi @rickpt,

Thanks for the detailed reply. Glad to hear you found a workaround in the meantime, but sorry to hear about the troubles in general.

We're currently looking at getting the plugin updated to use v2.0 of our Android SDK, which is much newer than the v1.11 which it currently uses. One of the differences is that it uses updated versions of the Android Support Libraries (27.1.0), so hopef

[2018-07-09 20:24] col42dev opened #82 "Ticket response fails with 404"
plugin version: v1.11.2.1
Unity version: 2018.1.1f1
Android support libs version 27.1.1
Android build tools 27.0.1
android:targetSdkVersion="27"

When a response to a ticket is sent from a android client, the send fails with a 404 error.
The device shows "Failed to send comment" and a "retry" button.
When the client sends a new ticket it is successful, it shows up in the zendesk portal.
When the c

[2018-07-11 17:08] brendan-fahy commented on #82
Hey Colin,

That 404 line looks like there's something wrong with your initialisation of the SDK.
This:
`https:///api/mobile/requests/fCyxnPllPGOoQxlf45A2hGLbR.json`
should read something like:
`https://[your subdomain].zendesk.com/api/mobile/sdk/settings/[your app id].json`
Can you show us the code where you're initialising the SDK? Is there any chance the value being passed for the subdomain is

[2018-07-11 17:49] col42dev commented on #82
Hi Brendan,

Sorry, i had attempted to conceal the domain in the original message.
I think the initalization is correct as i am able to send and recieve a ticket but the reply to the received ticket is then failing.
During a single app session i am able to send a successful ticket (uses a POST request) and receive a reply (GET request) but then sending a reply (PUT request) fails.

07-09 20:43:07.

[2018-07-23 23:55] daviddurston opened #83 "App crash with latest android support libraries"
When using newer versions of the android support libraries, the plugin crashes the app with the following error:
**java.lang.NoSuchMethodError: No static method getScreenWidthDp(Landroid/content/res/Resources;)I in class Landroid/support/v4/content/res/ConfigurationHelper;**

Seems that getScreenWidthDp has been deprecated, I believe in 26.0.0. The ConfigurationHelper class now has a getDensityDpi

[2018-07-24 14:18] KillianSmith0 commented on #83
Hi @DavidDurston , we are currently working on an update for the unity plug-in with support V2. Unfortunately I can't give an exact date as to when the release will be, but will notify you when it's ready.

Killian

[2018-07-24 17:11] daviddurston commented on #83
Thanks, looking forward to it.

[2018-08-24 17:13] daviddurston commented on #83
Hi again, thought I'd do a one-month checkup. Just wondering if there's any chance of getting at least this one thing patched. Based on the error I presume it's a small fix (updating that one deprecated call) but I could not find that function referenced when I went looking in the SDK code, so maybe it's in some referenced code that gets imported at plugin build time or something?

Thanks, appreci

[2018-08-28 14:47] divo commented on #83
@DavidDurston unfortunately we still can't give a date for this.

[2018-08-28 15:03] divo commented on #82
@col42dev can you check if there are any triggers or automations in your instance that are modifying tickets after they are created? We have had issues with triggers moving tickets to different brands after creation. An SDK app is linked to a brand so it can no longer update tickets after they move.

[2018-08-29 21:04] Will5 opened #85 "Infinite Loop when calling ZendeskSDK.ZDKHelpCenter.ShowHelpCenter(); on iOS"
When running [zendesk/sdk_unity_plugin](https://github.com/zendesk/sdk_unity_plugin) on iOS, I am getting into the following infinite loop when I call `ZendeskSDK.ZDKHelpCenter.ShowHelpCenter();` (with or without options). I tried on both the latest commit as well as the latest release.

<img width="527" alt="screen shot 2018-08-29 at 4 57 11 pm" src="https://user-images.githubusercontent.com/4763

[2018-08-29 21:12] Will5 commented on #85
Similarly, `ZendeskSDK.ZDKRequests.ShowRequestCreation();` (with or without configs) takes me here:

![img_0574](https://user-images.githubusercontent.com/4763133/44815856-ab377e00-abae-11e8-865d-e10b1f214015.PNG)

[2018-08-30 13:55] Will5 commented on #85
I figured it out. The `ZendeskSDK.bundle.meta` and `ZendeskSDKStrings.bundle.meta` bundles did not have `Any Platform` or `iOS` checked, so it was not being exported out to the Xcode project.

[2018-08-30 13:55] #85 closed, assigned to nobody

[2018-10-15 17:46] rickpt commented on #83
Hi All,

Any news when this will be available?

Google have now made API 28 support a requirement for new releases from August 2018 and app updates from November 2018

https://developer.android.com/distribute/best-practices/develop/target-sdk

So anyone using this plug-in will be unable to release/update their product. 0_0

I look forward to your response...

Thanks

Rick

[2018-10-25 14:14] baz8080 commented on #83
@rickpt @DavidDurston I can't see us directly calling `ConfigurationHelper` or `getScreenWidthDp` in the SDK code, which might mean it's more to do with the mismatch of support libraries. Is that your understanding too?

[2018-10-25 17:17] rickpt commented on #83
@baz8080 I'm afraid I'm not sure, I'd have to undo all the work I did to force the use api 25.0.1 just to repro and provide info, but it should be a just case of building the an app with api >= 26 and trying to call ZendeskSDK.ZDKRequests.ShowRequestCreationWithConfig if you want to try and repro at your end.

[2018-11-02 09:33] baz8080 commented on #83
Hey @DavidDurston @rickpt

We've [put up a branch](https://github.com/zendesk/sdk_unity_plugin/tree/android-v2) that adds support for Android and wraps the latest version of the SDK, 2.2.1. For iOS I'd recommend to continue using the master branch. The READMEs are different for each branch, and Android V2 now requires the Gradle build system in Unity.

I realise it's not ideal, but I hope it can u

[2018-11-02 09:34] #82 closed, assigned to nobody

[2018-11-02 09:34] baz8080 commented on #81
We've [put up a branch](https://github.com/zendesk/sdk_unity_plugin/tree/android-v2) that adds support for Android and wraps the latest version of the SDK, 2.2.1. For iOS I'd recommend to continue using the master branch. The READMEs are different for each branch, and Android V2 now requires the Gradle build system in Unity.

[2018-11-02 09:34] #81 closed, assigned to nobody

[2018-11-02 09:35] baz8080 commented on #80
We've [put up a branch](https://github.com/zendesk/sdk_unity_plugin/tree/android-v2) that adds support for Android and wraps the latest version of the SDK, 2.2.1. For iOS I'd recommend to continue using the master branch. The READMEs are different for each branch, and Android V2 now requires the Gradle build system in Unity.

[2018-11-02 09:35] #80 closed, assigned to nobody

[2018-11-02 09:36] baz8080 commented on #79
Hey @rickpt I'm going to close this based on the V2 branch I shared with you in another issue. I hope it helps.

[2018-11-02 09:36] #79 closed, assigned to nobody

[2018-11-02 09:36] baz8080 commented on #60
We've [put up a branch](https://github.com/zendesk/sdk_unity_plugin/tree/android-v2) that adds support for Android and wraps the latest version of the SDK, 2.2.1. For iOS I'd recommend to continue using the master branch. The READMEs are different for each branch, and Android V2 now requires the Gradle build system in Unity.

[2018-11-02 09:36] #60 closed, assigned to nobody

[2018-11-07 14:03] rickpt commented on #83
Hi @baz8080

Thanks that will really help we were about to start implementing a connection to RestApi instead but this should unblock our release, will let you know if this solves the issues :)

Any idea when you'll be able to support one shared plugin so we don't have to do some magic to swap between the iOS & Android versions?

Thanks

Rick

[2018-11-07 14:13] baz8080 commented on #83
HI Rick,

It's in out backlog to spend a block of time on updating iOS. We have a couple of blockers before we can get to it though.

[2018-11-13 18:20] daviddurston commented on #83
Hi @baz8080 ,

Thanks for the update, much appreciated. Couple questions:
1) Updating from the previous release... should it be a clean install and get rid of all the plugins previously added into the Unity project, AndroidManifest changes, etc?
2) Any idea if this will work in Unity 5.6.5 if I manually create or copy over the default build.gradle file from a newer version?

[2018-11-27 14:10] brendan-fahy commented on #83
Hey @DavidDurston, sorry for delay getting back to you. Have you had any progress on this in the meantime? I think a clean install is probably the best idea for upgrading to the v2 version. As regards Unity 5.6.5, I'm really not sure. If you can still use the gradle build system there, I think it *should* work.

[2018-12-05 01:37] daviddurston commented on #83
Hi, just revisiting this again today now that I have cycles to spend on it.

Sorry I'm not very familiar with native Android and gradle. We do indeed use it - mostly for getting past the DEX limit though. I've built the project but when I navigate to the /tmp folder I don't see a repo folder in there. Other than that I believe I have the mainTemplate.gradle build script in working order.

What I'v

[2018-12-05 09:35] brendan-fahy commented on #83
Hey @DavidDurston, this looks like a hole in our docs, sorry about that. The `build` task won't put anything in that tmp dir, you'll need to run `uploadArchives` for that to happen. This is explained in a bit more detail at the end of the README, https://github.com/zendesk/sdk_unity_plugin/tree/android-v2#rebuilding-the-android-plugin, but I can see how the `Integrating the Plugin` section is misl

[2018-12-05 16:27] daviddurston commented on #83
Thanks @brendan-fahy , that worked and I see the /tmp/repo folder now. I'm now running up against the following error when launching the app: **java.lang.ClassNotFoundException: com.zendesk.unity.ZDK_Plugin**

The only things in this project are:
- mainTemplate.gradle file
- Zendesk C# scripts
- test scene
- test script to init & show the help center

The mainTemplate.gradle file is the default on

[2018-12-07 13:50] danthedrummer commented on #83
I just built the AAR to have a look at the output and I can see the `ZDK_Plugin` class is there. Are you performing any obfuscation on your app?

*Edit* After looking at the docs we noticed that it doesn't mention including the dependency in Gradle. Add this line to the `dependencies` block in your `mainTemplate.gradle` and it should make the `ZDK_Plugin` available.
[code]

[2018-12-07 23:04] daviddurston commented on #83
Alright, every post I make, I move closer to the goal haha. Here goes again...

I had to change 'implementation' to 'compile' given the version of Unity I'm on (and which version of Gradle it has) but I am now getting this error:
[code]
For the record here is my full mainTemplat.gradle. Again, this is just the standard one Unity creates, with only lines 4 and 24 added. This is building out of an e

[2018-12-08 11:03] danthedrummer commented on #83
Hmm I think the dependency is failing because the repository isn't available when it needs it. Try updating the `allprojects` block to look like this:
[code]

[2018-12-08 17:26] daviddurston commented on #83
Unfortunately that was one of the other combinations/things I'd tried already. The only thing that changes is the build error, slightly:
[code]

I hate to ask for a "can you do it for me" instead of a "can you guide me" sort of approach but if you've built this as I'm trying to - in an empty test project - could you provide a download to that project so I can compare how it's set up? Or if the pro

[2018-12-10 12:02] danthedrummer commented on #83
Ok so this error looks like an internal dependency of the plugin can't be resolved so you can try updating the repositories block like so:
[code]
You could also try updating the gradle plugin version in the `mainTemplate.gradle`. Here's a [gist](https://gist.github.com/danthedrummer/948ff63597c510ca53763467c7c8844c) with all of the suggestions.

[2018-12-10 19:06] rickpt commented on #83
Hi Guys,

I've been working through some of these issues here in 2017.4, after issues getting gradle to pull this stuff from the repo after uploading it I have copied your unityplugin-2.2.1.aar into our Plugins/Android folder and successfully called into it.

(The gradle steps in the instructions only work for later versions of gradle than I can use here, so just adding the aar to my project was m

[2018-12-10 19:42] daviddurston commented on #83
Hey @danthedrummer , I've tried a few different things and getting different errors from each one. Included in what I've tried is upping Unity 2018.1's internal gradle library from 4.0.1 to 5.0.0.

Using your gist and 4.0.1:

   \- Minimum supported Gradle version is 4.6. Current version is 4.0.1. If using the gradle wrapper, try editing the distributionUrl in /Users/david/Projects/_testProject/Te

[2018-12-12 12:35] rickpt commented on #83
@baz8080 @brendan-fahy Hey, we're still having trouble here,

The call "ZendeskSDK.ZDKConfig.Initialize" is failing with "Something went wrong during Zendesk setup: java.lang.NoClassDefFoundError: Failed resolution of: Lzendesk/core/Zendesk;"

We've opened up the _unity-plugin-2.2.1.aar_ file (the old rename to zip and extract method) and cannot the find the class definitions within.

We've also g

[2018-12-17 07:31] Wainakh opened #87 "Unity plugin. Can't upload file : isNetworkError=true; status=-1"
Hi all.

Trying upload crash log from unity plugin.
Request return:

result = { "callbackId" : " *** ", "methodName" : "didUploadProviderUploadAttachment", "error" : "{"isNetworkError" : true, "status" : -1 } " }

 Error.Descriptions is empty.

What daes it mean?
What is "isNetworkError"? What is "status: -1"?
Where i can look a doc with all request errors?
How i can testing this network without m

[2018-12-18 11:06] baz8080 commented on #83
Hey All, I just tried a sample app this morning and it's working for me using version 2.2.1 on Unity 2018.2. I was using the android-v2 branch. You'll need to add your own app details in ZendeskExample.cs
[New Unity Project.zip](https://github.com/zendesk/sdk_unity_plugin/files/2690160/New.Unity.Project.zip)

[2019-01-07 14:28] FixitFrank commented on #81
Hello,

About that second branch ( android-v2
<https://github.com/zendesk/sdk_unity_plugin/tree/android-v2> ). We are
already using gradle in Unity 5.6.1f1 but I was unable to get it to work. I
added "url 'file:///tmp/repo' to the mainTemplate.gradle. However, I was
able to make a local android-plugin-release.aar with the command "./gradlew
build" and used that. But in the end I get a build error

[2019-01-09 10:07] FixitFrank commented on #83
We are also having problems to get this to work. After uploadArchives I just copy the unityplugin-2.2.1.aar from the /tmp/res to the /Assets/Plugins/Android and we also get the same NoClassError as reported above.

01-08 19:12:26.641 26959 27001 I Unity   : ZendeskSDK.ZDKBaseComponent:Log(String) (at /projects/tmh/Assets/Zendesk/Scripts/ZDKBaseComponent.cs:13)
01-08 19:12:26.641 26959 27001 I Unit

[2019-01-20 19:42] goranships opened #88 "iOS app crashing"
Hello,

We have integrated sdk in our project, and android works fine (except refreshing ticket status from c#). Unfortunately iOS when we try to open help center.

We are using iOS 12.0 on iPhone X.

Thanks

[2019-02-19 10:20] baz8080 commented on #87
@Wainakh Can you use a http debugging proxy to see if an actual network call is being made?

[2019-02-19 10:21] baz8080 commented on #88
@hivearts can you provide any logs. You may need to enable the ZDKLogger to get all the relevant output. https://github.com/zendesk/sdk_unity_plugin/blob/master/unity-src/scripts/ZDKLogger.cs

[2019-03-04 14:06] legoritma opened #89 "iOS Firebase Compatibility?"
I know you guys planning to upgrade sdk to 2.0. Any plans to support bitcode? Currently I'm getting missing symbols for arm64.

**Update :** I believe this is some kind of conflict error. I recently updated Firebase, Facebook, GPGS and Appsflyer to latest version, I got same error when I disabled bitcode too.

[code]

**Update 2 :** I was able to reduce little bit too, When I upgrade Firebase 5.5.

[2019-03-06 12:11] legoritma commented on #89
Adding "MessageUI.framework" to "Link Binary With Library" is fixed my problem. It hadn't added before, I don't know why it's required now.

[2019-04-04 13:39] chillin0531 opened #90 "Xcode build error : symbol(s) not found for architecture armv7"
After integrating in Unity and exporting to Xcode getting the following errors in Xcode build process.
Xcode 10.1

`Undefined symbols for architecture armv7:
  "__zendeskConfigSetArticleVotingEnabled", referenced from:
      _ZDKConfig__zendeskConfigSetArticleVotingEnabled_m864556408 in Bulk_Assembly-CSharp_17.o
     (maybe you meant: _ZDKConfig__zendeskConfigSetArticleVotingEnabled_m864556408)
"_

[2019-04-16 12:55] chillin0531 commented on #90
Since unable to found solution for this issue, moved to process of integrating SDK individually for Android and iOS.

[2019-04-16 12:55] #90 closed, assigned to nobody

[2019-06-11 20:55] HananeAlSamrout commented on #57
i am facing this too
zendesk v1
JWT identity

[2019-07-16 09:49] Nrjwolf commented on #87
Same error, never mind what is it (picture, text) — I have always long answer and then isNetworkError.

[2019-07-26 17:32] MAbdullahMalik commented on #83
@FixitFrank  Are you able to solve it?

[2019-07-27 08:36] MAbdullahMalik commented on #83
Everything working as expected. Thank you @baz8080 for your project

[2019-10-31 08:10] ToanTranGo opened #92 "Androidx libraries conflict"
My project has a lot of Androidx files:
`androidx.annotation.annotation-1.0.0`
`androidx.core.core-1.0.0`
`androidx.legacy.legacy-support-core-ui-1.0.0`
`...`
They have conflict with android support files:
`support-compat-25.1.0`,
`support-core-ui-25.1.0`
`...`
How to fix this?
If I remove the support files, the game crashed when showing Help Center.
Here the logs:
`java.lang.NoClassDefFoundError:

[2019-11-20 08:14] broding opened #93 "java.lang.NoSuchMethodError: No static method onStartNestedScroll error on Android"
The following error is causing my game to crash when accessing a FAQ question in the FAQ menu. We're running Unity 2018.3.14 and build using Gradle. Does anyone have any quick pointers?

`2019-11-20 09:10:22.314 30388-30388/? E/AndroidRuntime: FATAL EXCEPTION: main
    Process: nl.littlechicken.fireflush, PID: 30388
    java.lang.NoSuchMethodError: No static method onStartNestedScroll(Landroid/vie

[2020-01-03 11:40] kundan-Aristocrat commented on #88
@baz8080 I am facing the same problem(iPhone app crash). please refer below logs which I am getting in Xcode.

"Thread 1: EXC_BAD_ACCESS (code=2, address=0x16cf77fd0)"

"warning: could not execute support code to read Objective-C class data in the process. This may reduce the quality of type information available."

I am using iOS 13.2.2 on iPhone X.

Thanks.

[2020-01-14 14:06] romaroma opened #94 "Integration references"
Hi guys,
are there any live Unity3D Zendesk plugin integrations? Do you know any mobile game actually using it?

[2020-02-10 16:47] mekewi commented on #88
@baz8080 Hi I am facing the same issue and the last log I see is

No SDK configuration file found in local storage, sending request to fetch configuration file.
Reachability Flag Status: -R ------- networkStatusForFlags
warning: could not execute support code to read Objective-C class data in the process. This may reduce the quality of type information available.

[2020-02-13 14:03] mekewi commented on #88
@baz8080 Hey Finally I fixed it. I just found these files `ZendeskSDK.bundle` and `ZendeskSDKStrings.bundle` are not exported to Xcode project.
I just selected them and checked on `IOS` under `select platforms for plugin` in inspect view and it works fine

![Issue](https://user-images.githubusercontent.com/17337403/74442710-a5a12700-4e7a-11ea-8786-68dfbd7549e9.png)

[2020-03-03 20:02] robertgioia opened #95 "Callbacks on successful submit of a ticket?"
I am using the following code (working) to allow the user to submit a ticket:
`ZDKRequests.ShowRequestCreationWithConfig(config);`

However, is there any way to get a callback when the user successfully submits a ticket? I want to know when the user clicks send on the ticket submission, so that I can trigger a popup thanking the user for submitting their ticket and that I will get back to them.

P

[2020-03-03 20:22] robertgioia commented on #94
Several of the apps released by the Topps company use it. You can check out Marvel Collect for one example. If you go to the settings page and click support, you will notice that you can submit a Zendesk help request right from there using this plugin.

[2020-03-09 14:47] robertgioia commented on #95
@baz8080 @brendan-fahy @RonanMcH @juank-pa @divo @nsomar @lpmi-13 Do any of you guys know?

[2020-03-15 16:48] matmlyreal commented on #92
Are you planning to switch to AndroidX in the foreseeable future?
These support libraries makes this plugin useless when using with other sdk's.

[2020-03-16 03:13] ToanTranGo commented on #92
Yes.
Do you have the same issue?

[2020-03-17 16:20] romaroma commented on #94
OK! Will download the app to check! Thank you!

On Tue, Mar 3, 2020 at 10:22 PM robertgioia <notifications@github.com>
wrote:

[2020-03-25 17:27] baz8080 commented on #95
Sorry for the silence. We have been working on a completely new Unity SDK, written in C# and using native Unity APIs.  We're currently in an [early access program](https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-march-2020), if you are interested.

[2020-03-25 17:28] #94 closed, assigned to nobody

[2020-03-25 17:28] baz8080 commented on #93
Sorry for the silence. We have been working on a completely new Unity SDK, written in C# and using native Unity APIs.  We're currently in an [early access program](https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-march-2020), if you are interested.

[2020-03-25 17:29] baz8080 commented on #92
Sorry for the silence. We have been working on a completely new Unity SDK, written in C# and using native Unity APIs.  We're currently in an [early access program](https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-march-2020), if you are interested.

In this example AndroidX wouldn't make a difference because we're not bridging through to Android/iOS code any more.

[2020-03-25 17:29] baz8080 commented on #89
Sorry for the silence. We have been working on a completely new Unity SDK, written in C# and using native Unity APIs.  We're currently in an [early access program](https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-march-2020), if you are interested.

[2020-03-25 17:29] baz8080 commented on #88
Sorry for the silence. We have been working on a completely new Unity SDK, written in C# and using native Unity APIs.  We're currently in an [early access program](https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-march-2020), if you are interested.

[2020-03-25 17:29] baz8080 commented on #83
Sorry for the silence. We have been working on a completely new Unity SDK, written in C# and using native Unity APIs.  We're currently in an [early access program](https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-march-2020), if you are interested.

[2020-03-25 17:30] baz8080 commented on #48
Sorry for the silence. We have been working on a completely new Unity SDK, written in C# and using native Unity APIs.  We're currently in an [early access program](https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-march-2020), if you are interested.

[2020-03-25 17:30] baz8080 commented on #61
Sorry for the silence. We have been working on a completely new Unity SDK, written in C# and using native Unity APIs.  We're currently in an [early access program](https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-march-2020), if you are interested.

[2020-03-25 17:30] baz8080 commented on #87
Sorry for the silence. We have been working on a completely new Unity SDK, written in C# and using native Unity APIs.  We're currently in an [early access program](https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-march-2020), if you are interested.

[2020-03-25 21:12] czanier commented on #92
@baz8080 We have filled the form, what's the ETA of approval? we are planning an update to our game soon that we would like to include Zendesk.
Thanks!

[2020-03-25 21:14] baz8080 commented on #92
It'll be tomorrow morning Dublin time when our PM checks. Thanks for signing up.

[2020-03-26 12:01] goranships commented on #88
@baz8080 Ohhhh, thank god! :)
I have submitted, can't wait to try it!
Cheers

[2020-05-26 05:58] #89 closed, assigned to nobody

[2020-06-02 14:23] baz8080 commented on #95
The EAP is now open: https://develop.zendesk.com/hc/en-us/community/posts/360045998134-Announcing-Zendesk-SDK-for-Unity-Early-Access-Program-

There might not be a clean way to get the callbacks straight away, but if you engage with the EAP, then you'll be able to get feedback directly to the team.

[2020-06-02 14:23] baz8080 commented on #93
The EAP is now open: https://develop.zendesk.com/hc/en-us/community/posts/360045998134-Announcing-Zendesk-SDK-for-Unity-Early-Access-Program-

[2020-06-02 14:24] baz8080 commented on #92
The EAP is now open: https://develop.zendesk.com/hc/en-us/community/posts/360045998134-Announcing-Zendesk-SDK-for-Unity-Early-Access-Program-

If you haven't been added yet, please be patient, we are rolling it out in phases

[2020-06-02 14:24] baz8080 commented on #88
The EAP is now open: https://develop.zendesk.com/hc/en-us/community/posts/360045998134-Announcing-Zendesk-SDK-for-Unity-Early-Access-Program-

[2020-06-02 14:24] baz8080 commented on #87
The EAP is now open: https://develop.zendesk.com/hc/en-us/community/posts/360045998134-Announcing-Zendesk-SDK-for-Unity-Early-Access-Program-

[2020-06-02 14:24] baz8080 commented on #83
The EAP is now open: https://develop.zendesk.com/hc/en-us/community/posts/360045998134-Announcing-Zendesk-SDK-for-Unity-Early-Access-Program-

[2020-06-02 14:24] baz8080 commented on #61
The EAP is now open: https://develop.zendesk.com/hc/en-us/community/posts/360045998134-Announcing-Zendesk-SDK-for-Unity-Early-Access-Program-

[2020-06-02 14:24] baz8080 commented on #48
The EAP is now open: https://develop.zendesk.com/hc/en-us/community/posts/360045998134-Announcing-Zendesk-SDK-for-Unity-Early-Access-Program-

[2020-06-27 07:52] Dimosfil opened #97 "Could not find com.unity:player:1.0.0.1."
I get an error when building a build for unity

Could not find com.unity:player:1.0.0.1.
Required by:
    project :android-plugin
Search in build.gradle files

[2020-07-22 14:20] PAHeartBeat opened #98 "Gradle Resolver issue for com.zendesk:sdk:1.11.0.1 & com.unity:player:1.0.0.1"
Hi
We are facing issues to make Gradle build using Zendesk Unity SDK Android Pugin. we are facing two Gradle error about failing to resolve classes from Zendesk artifactory. The Gradle log is attached below

[code]

We have also attached build.gradle file from the lastest clone of the project via GitHub. to upload Gradle file with an issue I have added file extension `.txt`

[build.gradle](https:/

[2020-08-10 10:05] baz8080 commented on #98
Hi, we have a native unity SDK now, in early access. Our development efforts are focused on the native solution.
https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-updated-june-2020

[2020-08-10 10:05] #98 closed, assigned to nobody

[2020-08-10 10:05] baz8080 commented on #97
Hi, we have a native unity SDK now, in early access. Our development efforts are focused on the native solution.
https://github.com/zendesk/sdk_unity_plugin#zendesk-native-unity-sdk-eap-updated-june-2020

[2020-08-10 10:05] #97 closed, assigned to nobody

[2020-08-10 10:05] #95 closed, assigned to nobody

[2020-08-10 10:05] #93 closed, assigned to nobody

[2020-08-10 10:06] #88 closed, assigned to nobody

[2020-08-10 10:06] #92 closed, assigned to nobody

[2020-08-10 10:06] #48 closed, assigned to nobody

[2020-08-10 10:06] #61 closed, assigned to nobody

[2020-08-10 10:07] #83 closed, assigned to nobody

[2020-08-10 10:07] #87 closed, assigned to nobody

[2021-01-21 06:47] hantengx opened #102 "Build sdk failed"
Git clone, get newest repo, then import to android studio. try to gradlew build get this error:

* What went wrong:
A problem occurred configuring project ':android-plugin'.

     Required by:
         project :android-plugin

     Required by:
         project :android-plugin

* Try:
Run with --stacktrace option to get the stack trace. Run with --info or --debug option to get more log output. Run

[2021-03-10 06:58] vuquangdai23 commented on #102
I same too, you can get lastest unitypackage [here](https://zendesk.jfrog.io/artifactory/ZendeskSDKForUnity/Latest/)

[2021-03-10 07:03] hantengx commented on #102
Thank you,finally I also upgraded sdk

[2021-03-10 07:03] #102 closed, assigned to nobody

[2021-07-14 12:04] mohsinbuttdoduae commented on #73
User this in your menifest file

 <activity android:name="zendesk.messaging.MessagingActivity"
            android:theme="@style/ZendDeskTheme" />
        <activity android:name="zendesk.answerbot.AnswerBotArticleActivity"
            android:theme="@style/ZendDeskTheme" />
        <activity android:name="zendesk.support.requestlist.RequestListActivity"
            android:theme="@style/ZendDeskTh

[2021-07-20 14:25] mbpictures opened #103 "Sending device log with feedback request"
Hi!

Is it possible to attach the UnityLogs within a request?
Thanks already for your help!

Best wishes

[2021-10-20 14:25] Gabana opened #104 "Support for UI Toolkit?"
Hi,
This is not an issue per-se, but just a consultation. Are you planning to support the new Unity´s UI Toolkit?